.btn {
  width: 90%;
  margin: 4px;
  font-weight: bolder !important;
  outline: none;
}
.inpt-text {
  margin-top: 3px;
  width:96%;
  margin-left:6px
}

.pad-20 {
padding: 20px;
}

.col-xs-3, .col-xs-9 {
padding: 0px;
}

.bg-calculadora{
  background-color: rgb(13, 40, 71);
}

form{
  margin-top: 15%;
  margin-left: 35%;
}
